/* Default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}


/* End of Default styles */

/* Container styles */
.container {
  width: 100%;
  height: 100%;
}

/* Navigation*/
.navbar {
  width: 100%;
  height: 12rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
  z-index: 300;
}

.sticky.navbar{
  height: 8rem;
  background-color: #000;
}


.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}


.navigation a {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #eee;
  margin-right: 3rem;
  letter-spacing: 0.2rem;
  transition: color 0.3s;
}

.navigation a:hover {
  color: #fce2bf;
}

.logo-text span:nth-child(1) {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #eee;
  font-family: cursive;
}

.navigation a:nth-child(1) {
  color: #fce2bf;
}

/* End of Navigation styles */

/* Landing*/
.landing {
  width: 100%;
  height: 90vh;
  position: relative;
  margin-bottom: -150px;
}


.banner {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  z-index: 100;
  text-align: center;
  height: 100%;
}
.main-heading {
  font-family: "Great vibes", cursive;
  font-size: 4rem;
  font-weight: 300;
  color: #eee;
}

.banner h1 {
  font-size: 6rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #eee;
  margin: 2rem 0;
  line-height: 1.5;
}

.banner p{
  font-size: 1.5rem;
  font-weight: 300;
  color: #eee;
  width: 60rem;
  margin: 0 auto 2rem auto;
  letter-spacing: 0.1rem;
}

.banner-btn-1 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fce2bf;
  background-color: transparent;
  border: 0.1rem solid #fce2bf;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.6s;
}

.banner-btn-1:hover {
  font-size: 1.5rem;
  font-weight: 300;
  color: #0e1010;
  background-color: #fce2c0;
  border: 0.1rem solid #fce2bf;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

/* Swiper styles */
.swiper {
  width: 100%;
  height: 85%;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

span.swiper-pagination-bullet {
  width: 2rem;
  height: 2rem;
  opacity: 1.5rem !important;
  background-color: #eee;
  position: relative;
  margin-right: 1.5rem !important;
}

span.swiper-pagination-bullet::after {
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 0.2rem solid #fce2c0;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  border: 0.2rem solid #fff;
}

.overlay-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
/* End of Swiper styles */

/* Values Styles*/
.value {
  width: 100%;
  height: 50vh;
  background-color: #020302;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -1px;
}

.value-left-section {
  width: 100%;
  max-width: 800px; /* Limit the width */
  margin: auto; /* Center the content */
}

.value-right-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.value-section {
  width: 45%; /* Adjust the width as needed */
  height: 15rem;
  margin: 1rem;
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 32px / 81px;
  box-shadow: 5px 10.1px 10.1px hsla(0, 15%, 91%, 0.34);
}

.value-section {
  width: 30rem;
  height: 15rem;
  margin: 1rem;
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 32px / 81px;
  box-shadow: 5px 10.1px 10.1px hsla(0, 15%, 91%, 0.34);
}

.values-section-heading {
  font-family: "Great vibes", cursive;
  font-size: 4rem;
  font-weight: 300;
  color: #eee;
  margin: 5% auto;
}

.value-section h1 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #000000;
  width: 100%;
  margin: 0 auto 1rem auto;
  letter-spacing: 0.1rem;
}


.value-left-section h3 {
  font-size: 1.5rem;
  font-weight: 4800;
  color: #fffafa;
  width: 100%;
  margin: 0 auto 1rem auto;
  letter-spacing: 0.1rem;
  align-content: center;
}

.value-left-section p {
  font-size: 1.2rem;
  font-weight: 300;
  color: #ffffff;
  width: 100%;
  margin: 0 auto 0 auto;
  letter-spacing: 0.1rem;
}

.value-right-section p {
  font-size: 1.2rem;
  font-weight: 300;
  color: #000000;
  width: 100%;
  margin: 0 auto 0 auto;
  letter-spacing: 0.1rem;
}

.value i {
  font-size: 3rem;
  color: #fce2bf;
  -webkit-text-stroke: 0.2rem #d6d6d6;
}

/* End of Values styles */

/* Service Style */
.services {
  width: 100%;
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),
    url(images/image8.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.services-left {
  width: 50%;
  text-align: center;
  margin-left: 3rem;
}

.services-left h1 {
  font-size: 5rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  margin-top: -3rem;
}

.services-left p {
  font-size: 1.5rem; /* Increased font size */
  font-weight: 300;
  color: #fff;
  margin-top: -1rem;
  margin-bottom: 2rem;
}

.services-img-wrapper:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  text-align: center;
  color: #ffffff;
}

.overlay p{
  font-size: 1.5rem;
}
.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: white;
  margin-right: 10px;
  font-size: 40px;
}

.social-icons a:hover {
  color: gray;
}

.services-right {
  width: 50%;
  text-align: right;
  margin-right: 3rem;
}

.services-right-images {
  width: 60rem;
  display: flex;
  flex-wrap: wrap;
}

.services-img-wrapper {
  width: 25rem;
  height: 25rem;
  margin: 2rem;
  overflow: hidden;
  position: relative;
}

.services-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.6s;
}

.contact-button {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fce2bf;
  background-color: transparent;
  border: 0.1rem solid #fce2bf;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.6s;
}

.contact-button:hover {
  font-size: 1.5rem;
  font-weight: 300;
  color: #0e1010;
  background-color: #fce2c0;
  border: 0.1rem solid #fce2bf;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

/* Show the overlay when hovering over the services image wrapper */
.services-img-wrapper:hover .overlay {
  opacity: 1;
}

/* Scale the image to 1.3 times its original size on hover */
.services-img-wrapper:hover img {
  transform: scale(1.3);
}

/* Styles for a border that will appear on hover */
.border {
  width: 100%;
  height: 100%;
  position: relative;
}

/* Create a transparent border around the container */
.border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid transparent;
  transition: border 0.5s;
}

/* Show a white border when hovering over the services image wrapper */
.services-img-wrapper:hover .border::before {
  border: 1px solid white;
}


/* Data styles */
.data{
  width: 100%; /* Set the width to 100% of the container */
  height: 30vh;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),
    url(images/image8.jpg) center no-repeat;  
    background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data > div { /* Styles for a div inside an element with the class "data" */
  width: 25rem; /* Set the width of the div to 25rem */
  height: 30rem; /* Set the height of the div to 30rem */
  display: flex; /* Use flexbox for layout within the div */
  flex-direction: column; /* Arrange child elements in a column layout */
  align-items: center; /* Center the child elements horizontally within the div */
  justify-content: space-evenly; /* Distribute the child elements evenly along the vertical axis */
}

.icon-wrapper {
    width: 8rem;
    height: 8rem;
    cursor: pointer;
    position: relative;
}

.icon-bg {
  display: block;
  width: 100%;
  height: 100%;
  border: .1rem solid #c49b63;
  transition: all 0.3s;
}

.data i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  -webkit-text-stroke: 0.2rem #c49b63;
  color: transparent;
  z-index: 100;
  transition: all 0.3s;
}

.icon-wrapper:hover .icon-bg{
  background-color:#c49b63 ;
  transform: rotateZ(135deg);
  transition: all 0.3s;

}

.icon-wrapper:hover i{
  -webkit-text-stroke: 0.2rem #000000;

}

.num{
  font-size: 2rem;
  color: #c49b63;
}

.info{
  font-size: 1.5rem;
  color: #c49b63;
}
/* End of Data styles */

/* Customer styles */
.customers {
  position: relative;
  width: 100%;
  height: 50vh; /* Adjusted height */
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url(images/image8.jpg) center no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.customers-banners {
  text-align: center;
}

.customers-banners .main-heading {
  font-size: 4rem; /* Adjusted font size */
  font-weight: 600;
}

.customers-banners h1 {
  font-size: 3.5rem; /* Adjusted font size */
  font-weight: 600;
  text-transform: uppercase;
  margin-top: -1rem; /* Adjusted margin */
}

.customers-banners p {
  font-size: 1.2rem;
  color: #ccc;
  margin-top: 1rem;
  line-height: 1.5;
}

.clients {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem; /* Adjusted margin */
  margin-right: 2rem;
  margin-left: 2rem;
  flex-wrap: wrap; /* Allow testimonials to wrap to the next line */
}

.client {
  width: 23%;
  background-color: #333;
  padding: 1.5rem; /* Adjusted padding */
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0.5rem; /* Adjusted margin */
}

.client-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.client img {
  width: 70px; /* Adjusted size */
  height: 70px; /* Adjusted size */
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.client div span {
  font-size: 1rem;
}
/* End of Customer styles */



/* Contact Style*/

.contact{
  width: 100%; /* Set the width to 100% of its parent element */
  height: 50vh; /* Set the height to 50% of the viewport height */
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), /* Set a linear gradient background with two colors */
  url(images/image8.jpg) center no-repeat; /* Set the background image and center it without repeating */
  background-size: cover; /* Scale the background image to cover the entire element */
  display: flex; /* Display the element as a flex container */
  flex-direction: row; /* Set the flex direction to row */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.input-group {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  margin: 1.5rem ;
}

.contact h3{
  margin: 1.5rem;
}
.input-group input,
.input-group textarea {
  flex: 1; /* Take up remaining space */
  width: auto; /* Make width flexible */
  box-sizing: border-box; /* Include padding and border in width calculation */
  height: 5rem;
  padding: 1rem;
  margin: 1rem 1rem 2rem 0;
  border: none;
  border-bottom: 0.1rem solid #c49b63;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 300;
  color: #ffffff;
}

.input-group textarea {
  resize: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

.input-group input:focus,
.input-group textarea:focus {
  outline: solid;
}

/* End of Contact styles */

/* Footer styles */
footer {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),
  url(images/image8.jpg) center no-repeat;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-left, .footer-right, .footer-bottom {
  display: inline-block;
  vertical-align: top;
  text-align: center; /* Center the text within each block */
}

.footer-left {
  width: 30%;
}

.footer-right {
  width: 50%;
}

.footer-bottom {
  width: 100%; /* Make the bottom footer span the full width */
  text-align: center; /* Center the text */
}

.footer-left h1, .footer-right h1 {
  font-size: 1.5em;
}

.social-icons a {
  margin-right: 10px;
}

.footer-right a {
  display: block;
  color: white;
  text-decoration: none;
}

.footer-right a:hover {
  text-decoration: underline;
}

/* End of Footer styles */


/* Media Queries */
@media(max-width: 1500px) {
  html{
    font-size: 55%;
  }
}

@media(max-width: 1300px) {
  html{
    font-size: 50%;
  }
}
@media (max-width: 1100px) {
  html {
    font-size: 45%;
  }

  .services-img-wrapper {
    width: 20rem;
    height: 20rem;
  }

  .customers {
    height: 120vh;
  }

  .clients {
    flex-direction: column;
  }

  .client {
    width: 100%;
    max-width: none;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 40%; /* Adjust the font size for smaller screens */
  }

  .clients {
    flex-direction: column;
  }

  .client {
    width: 100%;
    max-width: none;
  }
  .value {
    height: auto; /* Adjust height for smaller screens */
    padding: 2rem; /* Add padding to the value section for better spacing */
  }

  .value-left-section {
    max-width: 100%; /* Allow the left section to take full width */
  }

  .values-section-heading {
    font-size: 5rem; /* Adjust heading font size for smaller screens */
    text-align: center; /* Center the heading */
    color: #eee; /* Adjust heading color for better visibility */
    margin-top: 12rem;
  }
  .value p{
    margin-bottom: 1rem;
  }

  .value-section {
    width: 100%; /* Make value sections full width on smaller screens */
    margin: 1rem 0; /* Adjust margin for better spacing */
  }

  .services {
    flex-direction: column; /* Stack the sections vertically on smaller screens */
    height: auto; /* Adjust height for smaller screens */
  }

  .services-left,
  .services-right {
    width: 100%; /* Make both sections take full width on smaller screens */
    text-align: center; /* Center the text */
    margin: 0; /* Remove the margin on smaller screens */
  }

  .services-left h1 {
    font-size: 3rem; /* Adjust heading font size for smaller screens */
    margin-top: 0; /* Remove the top margin */
  }

  .services-img-wrapper {
    width: calc(100% - 4rem); /* Calculate the width with margins included */
    height: 250px; /* Set the height to 150px */
    margin: 0 2rem 2rem 2rem; /* Add margin to all sides except the top */
  }

  .services-img-wrapper img {
    width: 100%; /* Make the image take full width of the container */
    height: 100%; /* Maintain the aspect ratio */
    object-fit: cover; /* Maintain the image aspect ratio */
    cursor: pointer;
    transition: transform 0.6s;
  }

  .services-right-images {
    width: 100%; /* Make the image wrapper take full width on smaller screens */
  }

  .overlay p {
    font-size: 1rem; /* Adjust paragraph font size for smaller screens */
  }

  .contact-button {
    font-size: 1.2rem; /* Adjust button font size for smaller screens */
    padding: 2rem; /* Adjust padding for better spacing */
    margin-bottom: 2rem;
  }

  .services-img-wrapper:hover img {
    transform: scale(1); /* Remove the scaling on hover for smaller screens */
  }

  /* Remove unnecessary styles for smaller screens */
  .border,
  .services-img-wrapper:hover .border::before {
    border: none;
  }

}
